<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<!-- Servlets -->
	
	<servlet>
		<servlet-name>PubGoods</servlet-name>
		<servlet-class>hu.belicza.andras.pubgoods.PubGoodsServlet</servlet-class>
	</servlet>
	
	<!-- Servlet mappings -->
	
	<servlet-mapping>
		<servlet-name>PubGoods</servlet-name>
		<url-pattern>/*</url-pattern> <!-- One Servlet to rule them all... -->
	</servlet-mapping>
	
	<!-- Custom error pages -->
	
	<error-page>
		<error-code>400</error-code> <!-- Bad Request -->
		<location>/error?code=400</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code> <!-- Not found -->
		<location>/error?code=404</location>
	</error-page>
	
	<error-page>
		<error-code>413</error-code> <!-- Request Entity Too Large -->
		<location>/error?code=413</location>
	</error-page>
	
	<error-page>
		<error-code>414</error-code> <!-- Request URI Too Long -->
		<location>/error?code=414</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code> <!-- Internal Server Error -->
		<location>/error?code=500</location>
	</error-page>
	
</web-app>
